<div class="p-5 bg-light w-75">
  <h3>TIPO DE PRODUCTO</h3>
  <br />
  <div class="container" *ngIf="!creacionedicion">
    <div class="card mb-3 p-3">
      <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
          <thead class="text-center">
            <tr>
              <th>ID</th>
              <th>DESCRIPCION</th>
              <th>ACCION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tipo of tipoProductos">
              <td>{{ tipo.idTipoProducto }}</td>
              <td>{{ tipo.descripcion }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-success btn-sm m-2" (click)="editar(tipo)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="eliminar(tipo)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-primary float-end" (click)="nuevo()">Nuevo</button>  <br />
  </div>
  <div class="container" *ngIf="creacionedicion">
    <div class="card mb-3 p-3">
      <div class="card-body">
        <form [formGroup]="formTipoProducto">
          <label for="idTipoProducto" class="form-label">ID</label>
          <input type="text" class="form-control" formControlName="idTipoProducto">
          <label for="tipoDocumento" class="form-label">Tipo de Logística</label>
          <select class="form-select col-md-5" formControlName="tipoLogistica">
            <option *ngFor="let item of tipoLogisticas" [ngValue]="item.idTipoLogistica">{{item.descripcion}}</option>
          </select>
          <label for="descripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" formControlName="descripcion">
        </form>
      </div>
    </div>
    <button type="button" class="btn btn-success float-end m-1" (click)="guardar()" [disabled]="!formTipoProducto.valid">Guardar</button>
    <button type="button" class="btn btn-primary float-end m-1" (click)="cancelar()">Cancelar</button><br />
  </div>
</div>
